.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.load_container {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 130px;
  overflow: hidden;
  letter-spacing: normal;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.linespinner {
  width: 7px;
  height: 7px;
  background: #3777ff;
  position: relative;
  animation: linespinner 1.25s ease-in-out infinite;
  animation-delay: 0.4s;
  border-radius: 10px;
}
.linespinner:after,
.linespinner:before {
  border-radius: 10px;
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #3777ff;
  animation: linespinner 1.25s ease-in-out infinite;
}
.linespinner:before {
  right: 18px;
  animation-delay: 0.15s;
}
.linespinner:after {
  left: 18px;
  animation-delay: 0.6s;
}

@keyframes linespinner {
  0%,
  100% {
    background-color: #3777ff;
    box-shadow: 0 0 0 #3777ff, 0 0 0 #3777ff;
  }
  50% {
    background-color: #a712ec;
    box-shadow: 0 -15px 0 #a712ec, 0 15px 0 #a712ec;
  }
}
