@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #272a3a;
  font-family: "inter", sans-serif;
}

@layer components {
  .container {
    @apply w-3/4 mx-auto;
  }

  .btn-primary-md {
    @apply bg-primary text-white shadow-md shadow-primaryShadow font-medium rounded-full w-20 py-1 hover:bg-secondary hover:shadow-gray-300 transition-all ease-linear;
  }

  .btn-primary-lg {
    @apply bg-primary text-white shadow-md shadow-primaryShadow font-medium rounded-full w-36 py-2 hover:bg-secondary hover:shadow-gray-300 transition-all ease-linear;
  }

  .btn-secondary-md {
    @apply border border-primary text-primary font-medium rounded-full w-20 py-1  transition-colors ease-linear;
  }

  .btn-neutral {
    @apply border-2 shadow-lg font-medium rounded-full w-20 py-1 shadow-gray-200 hover:bg-gray-50  transition-colors ease-linear;
  }

  .btn-primary-md-mob {
    @apply bg-primary text-white shadow-md shadow-blue-200 font-medium rounded-full w-full py-1 hover:bg-gray-800 hover:shadow-none transition-colors ease-linear;
  }

  .btn-secondary-mob {
    @apply border border-primary text-primary font-medium rounded-full w-full py-1  transition-colors ease-linear;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #3777ff;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 100%;
}
