@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #272a3a;
  font-family: 'inter', sans-serif;
}

@layer components {
  .container {
    @apply w-3/4 mx-auto
  }

  .btn-primary {
    @apply bg-primary text-white shadow-lg shadow-green-200 font-medium rounded-full w-20 py-1 hover:bg-gray-800 hover:shadow-gray-300 transition-all ease-linear;
  }

  .btn-secondary {
    @apply border border-gray-500 font-medium rounded-full w-20 py-1  transition-colors ease-linear;
  }

  .btn-primary-mob {
    @apply bg-primary text-white shadow-lg shadow-green-200 font-medium rounded-full w-full py-1 hover:bg-gray-800 hover:shadow-none transition-colors ease-linear
  }

  .btn-secondary-mob {
    @apply border border-gray-500 font-medium rounded-full w-full py-1  transition-colors ease-linear;
  }
}